**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

In [1]:
import numpy as np 
import pandas as pd

In [4]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

df=pd.DataFrame(data)
df

    1    2    3    4    5    6   7    8    9    10
0  NaN  NaN  NaN  1.0  1.0  1.0   1  1.0  1.0  1.0
1  2.0  2.0  2.0  NaN  2.0  NaN   2  NaN  2.0  NaN
2  NaN  3.0  NaN  3.0  NaN  3.0   3  3.0  3.0  3.0
3  4.0  NaN  4.0  NaN  4.0  NaN   4  NaN  4.0  4.0
4  5.0  5.0  5.0  NaN  5.0  NaN   5  NaN  NaN  5.0

In [5]:
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

0    3
1    8
2    5
3    6
4    8
dtype: int64

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [8]:
df1 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df1

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [10]:
df1.groupby('grps')['vals'].nlargest(3).sum(level=0)

C:\Users\KINGSLEY\AppData\Local\Temp/ipykernel_14064/1995528993.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df1.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64