In [1]:
# importing libraries
import pandas as pd 
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [2]:
# setting up the data frame
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df

          0         1         2
0  0.226605  0.468600  0.026804
1  0.407421  0.942134  0.423763
2  0.595059  0.593511  0.139909
3  0.924240  0.863542  0.074944
4  0.404017  0.657305  0.258191

In [3]:
# substrating various rows by their corresponding row mean
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.014065  0.227930 -0.213865
1 -0.183685  0.351028 -0.167343
2  0.152233  0.150684 -0.302917
3  0.303331  0.242634 -0.545965
4 -0.035820  0.217467 -0.181647

*24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [4]:
# setting up the date frame for question 24
df1 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df1

,a,b,c,d,e,f,g,h,i,j
0,0.476295,0.639655,0.987565,0.872932,0.989876,0.985891,0.333348,0.757710,0.900122,0.469045
1,0.889457,0.470954,0.940232,0.251936,0.796387,0.807036,0.695662,0.918587,0.177317,0.148287
2,0.834388,0.034938,0.166159,0.006420,0.133291,0.802503,0.244269,0.584294,0.172539,0.243435
3,0.453126,0.318953,0.551382,0.138341,0.570299,0.547859,0.065395,0.800911,0.090045,0.191010
4,0.027012,0.127480,0.716482,0.465911,0.557196,0.143110,0.735950,0.069422,0.297314,0.313208

In [10]:
#finding the sum for the various columns 
df2=df1.sum(axis=0)
# finding the index for the smallest value of the sum of the columns
df3=df2.idxmin()

df3

'j'